127.0.0.1       localhost
127.0.1.1       root

# minions
{{ minions_address_01 }}  {{ minion_01 }}
{{ minions_address_02 }}  {{ minion_02 }}
{{ minions_address_03 }}  {{ minion_03 }}
{{ minions_address_04 }}  {{ minion_04 }}

# master 
{{ master_address }}  {{ master }} 